{
  "plugins": [
    [
      "module-resolver",
      {
        "root": [ "./src" ],
        "alias": {
          "/": "./",
          "@/": "./"
        },
        "stripExtensions": [
          ".js",
          ".jsx"
        ]
      }
    ]
  ]
}

